<a href="https://colab.research.google.com/github/nayankr8625/EDA_Capstone_Hotel_Booking/blob/master/Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

As we know that in this new era of “Digitalization” everbody wants to handle things online like Purchasing House-Hold Items , Ordering Food Online ,Online Shopping ,Booking Travel Tickets Online, and also the Hotel Booking which is a very important part of Hospitality Industry and Online Hotel Booking has “Revolutionarized” this “Hospitality Industry”.

* <b>Hotel Owners or Hotel Managers wants more control by predicting the reasons and chances of cancellation of hotel booking and according to the data insights they improve cancellation regulations, and create new tactics in business.</b>


* <b>What is EDA(Exploratory Data Analysis)</b>


1. Exploratory Data Analysis as the name suggests that we are going to explore the data we have given,i.e. 
    we are going to view the data with various observation and question. And also going to process the dataset to 
    more informative manner so that we can get desired analysis outcomes.
    
    
2. We will try to find missing values/ outliers and treat them and also tackling different data types present 
    in different forms and visualizing our data to get more interactive and proper understanding the data with
    with lots of insights from the dataset.
    

* <b>We are performing EDA(Exploratory Data Analysis) on Hotel Booking Dataset and we will try to find some insights given below even more than these:</b> 


1. How the various factors impacting the booking of hotels.
2. How different elements is going to impact the hotel bookings.
3. Where should the hotel industry should work on or improvise there strategies to grow the hospitality services.
4. How various months of the year impact the hotel bookings and many more observations from the given dataset.

In [2]:
from google.colab import drive                    # Mounting drive
drive.mount('/content/drive')

Mounted at /content/drive

* <b>Importing required libraries</b>

In [1]:
# To load data from file
import pandas as pd 

# To perform mathemetiacal operations
import numpy as np

# To visualize data and get insight from the data
import matplotlib.pyplot as plt
import seaborn as sns

# To avoid the warning that aren't necessarily exceptions
import warnings
warnings.filterwarnings('ignore')

# Sets the backend of seaborn to the 'inline' backend
sns.set()
# Sets the backend of matplotlib to the 'inline' backend
%matplotlib inline

# Pre-defining the font type and size to provide same throughout the code
font = {'family' : 'normal',
        'size'   : 16}
plt.rc('font', **font)

# Pre-defining the color schema
sns.set_palette('gist_ncar')

In [3]:
# loading csv File
file_path = '/content/drive/MyDrive/EDA_Capstone_Hotel_Booking/Hotel Bookings.csv'

data=pd.read_csv(file_path)

In [4]:
# Printing first five elements from the dataset using pandas head
data.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [5]:
# Reading last five elements from the dataset using pandas tail
data.tail(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [6]:
# Printing the columns present in dataset

print('Columns in dataset :\n\n',data.columns)

Columns in dataset :

 Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

### Inference:

#### 1. Dataset have lots of columns/features which are responsible for a customer to Book or Cancel the Hotel Booking


#### 2. We will also check each column/feature and its relativity to the target/class_label variable  which is named as 'is_canceled'